* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/mars1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

#weather-app {
    background-color: azure;
    opacity: 0.5;
    margin: 3%;
    height: 700px;
}